<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @player, partial: "card", as: :player %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "players/player_games" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "players/player_reviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "players/player_users" %>
  </div>
</div>
  <!-- Show Page Customization end -->
